  <header id="header">
    <div class="container">


      <nav id="nav">
        <ul>
         <li><a class="page-link home" href="{{ site.url }}">Home</a></li>
        {% for page in site.pages %}
          {% if page.title %}
          <li><a class="page-link {% if page.is_post %}writing{% else %}{{ page.title | downcase}}{% endif %}" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </nav>

        <div class="toggler">Menu</div>

    </div>
  </header>

<script type="text/javascript">
	
  $('.toggler').click(function() {
	  $('#nav').slideToggle();	
  });
    
</script>