

/**
	* Site header
	*/
	
.container {
  position: relative;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1em;
  font-family: $base-font-family;
}

.content {
  position: relative;
  padding-top: 80px;
  p { margin-bottom: 10px; }
}

#header {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: $background-color;
}
#nav {
  right: 0;
  ul {
  list-style: none;
  text-align: center;
  width: 100%;
  margin: 0;
  font-weight: 900;

    li {
	    display: inline-block;
      a {
        display: block;
        color: $brand-color;
        text-decoration: none;
        margin: 0 30px;
        padding: 0 5px;
        font-size: 1em;
        letter-spacing: 1px;
        font-weight: bold;
      }
      a:hover {
	      color: darken($brand-color,15%);
      }

    }
  }
}

.toggler{
	display: none;
}

@media (max-width: 599px) {
	
#header {
  z-index: 2;
  width: 100%;
  height:auto;
  line-height: 50px;
  background-color: darken($brand-color,10%);
  position: relative;
}
#nav {
	display: none;
  ul {
	  padding: 20px 0;
    li {
	    display: block;
      a {
	    display: block;
        color: rgba($background-color,0.5);
        text-decoration: none;
        margin: 0 30px;
        padding: 4px 5px;
        font-size: 1.25em;
        letter-spacing: 1px;
      }
      a:hover {
	      border: none;
	      color: $background-color;
      }

    }
  }
}

.toggler{
	display: block;
	background: #F1F1F1;
	color: $brand-color;
	text-align: center;
	cursor: pointer;
}

body.home a.home{color: $background-color;}
body.cv a.cv{color: $background-color;}
body.bio a.bio{color: darken($brand-color,15%);}
body.elsewhere a.elsewhere{color: darken($brand-color,15%)}
body.projects a.projects{color: darken($brand-color,15%);}
body.writing a.writing{color: darken($brand-color,15%);}
   
}

/*
body.home a.home{color: darken($brand-color,15%) !important;}
body.cv a.cv{color: darken($brand-color,15%) !important;}
body.bio a.bio{color: darken($brand-color,15%) !important;}
body.elsewhere a.elsewhere{color: darken($brand-color,15%) !important;}
body.projects a.projects{color: darken($brand-color,15%) !important;}
body.writing a.writing{color: darken($brand-color,15%) !important;}
*/


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Nameplate
 */
 
 #nameplate{
background: none;
	 
 }
 
 #nameplate.wrapper {
display: block;
	 text-align: center;
	 font-size: 1.5em;
	 color: #F1F1F1;
	 font-family: $serif-font-family;
	 
 }
 
 #nameplate p.tagline{
	 background: rgba($brand-color, 0.25);
 }
 
#nameplate h1{
font-family: $base-font-family;
font-size: 3em;
font-weight: 700;
color: white;
background: rgba($brand-color, 0.25);
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit*1 0 $spacing-unit*4 0;
    background-image: url(https://farm4.staticflickr.com/3788/12025761976_3b60419ebe_o.jpg);
    background-repeat: no-repeat;
    background-position: center -450px;
    background-attachment: fixed;

}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.ss-icon{
	color: lighten($brand-color,25%);
	margin-left: 5px;
	font-size: 0.85em;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;


}


/**
	Social icons
	*/
	
	

