/**
	* Site header
	*/
	
.container {
  position: relative;
  margin: 0 auto;
  width: 94%;
  text-transform: uppercase;
  font-size: 1em;
  font-family: $base-font-family;
  font-weight: 700;
}
.content {
  position: relative;
  padding-top: 80px;
  p { margin-bottom: 10px; }
}
#header {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #F1F1F1;
}
#nav {
  right: 0;
  ul {
  list-style: none;
  text-align: center;
  width: 100%;
  margin: 0;
    li {
	    display: inline-block;
      a {
        display: block;
        color: $brand-color;
        text-decoration: none;
        margin: 0 30px;
        padding: 0 5px;
        font-size: 1em;
      }
      a:hover {
	      border-bottom: solid 4px;
      }

    }
  }
}

@media (max-width: 599px) {
  #header {
    .container { width: 100%; }
    h1 {
      left: 3%;
    }
  }
  #nav {
    width: 100%;
    top: 60px;
    &:before {
      content: '\2630';
      display: block;
      position: absolute;
      right: 3%;
      top: -50px;
      line-height: 40px;
      cursor: pointer;
    }
    ul {
      background: #F1F1F1;
      width: 100%;
      li {
        float: none; 
        a {
          padding: 10px 3%;
          line-height: 20px;
          border-top: 1px solid #333;
        }
      }
    }
  }
  // Transition
  #nav ul {
    transition: 350ms;
    -moz-transition: 350ms;
    -webkit-transition: 350ms;
    transform: perspective(600) rotate3d(0,0,0,0);
    -moz-transform: perspective(600) rotate3d(0,0,0,0);
    -webkit-transform: perspective(600) rotate3d(1,0,0,-90deg);
    transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
  }
  #nav.open ul {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform:  perspective(600) rotate3d(0,0,0,0);
  }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Nameplate
 */
 
 #nameplate{
background: rgba(0,0,0, 0.1);
	 
 }
 
 #nameplate.wrapper {
display: block;
	 text-align: center;
	 font-size: 1.5em;
	 color: #F1F1F1;
 }
 
#nameplate h1{
font-family: $base-font-family;
font-size: 2.5em;
font-weight: 700;
color: white;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit*1 0 $spacing-unit*4 0;
    background-image: url(https://farm4.staticflickr.com/3788/12025761976_3b60419ebe_o.jpg);
    background-repeat: no-repeat;
    background-position: center -450px;
    background-attachment: fixed;

}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.ss-icon{
	color: lighten($brand-color,25%);
	margin-left: 5px;
	font-size: 0.85em;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;


}


/**
	Social icons
	*/
	
	
a.ss-icon{
	color: lighten($brand-color,25%);
	margin-left: 5px;
	font-size: 0.85em;
}

